<h1 mat-dialog-title>{{data.id == 0 ? 'New' : 'Edit'}} Operation</h1>

<form #form="ngForm" mat-dialog-content>
  <mat-form-field>
    <mat-select name="type" [(ngModel)]="data.category" placeholder="Category" #type="ngModel" required>
      <mat-option *ngFor="let item of categories" [value]="item">
        {{item?.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validations [field]="'Type'" [control]="type"></app-validations>

  <mat-form-field>
    <input matInput type="number" name="sum" [(ngModel)]="data.sum" placeholder="Sum" #sum="ngModel" required min="1">
  </mat-form-field>
  <app-validations [field]="'Sum'" [control]="sum"></app-validations>

  <mat-form-field>
    <textarea matInput name="description" [(ngModel)]="data.description" placeholder="Description" #description="ngModel" ></textarea>
  </mat-form-field>

  <div>
    <button mat-button (click)="onSave(form)">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</form>
