/* You can openSaveDialog global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*

.app-main-parent {
  width: 100%;
  height: 100%;
}

*/

.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 15px;
}
