.login-container {
  height: 80vh;
}

mat-tab-group {
  height: 340px;
}

::ng-deep .mat-tab-body-content {
  overflow: visible !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: #3f51b5;
  border-radius: 3px;
  color: white;
}
