<h1 mat-dialog-title>{{data.id == 0 ? 'New' : 'Edit'}} Category</h1>

<form #form="ngForm" mat-dialog-content>
  <mat-form-field>
    <input matInput name="name" [(ngModel)]="data.name" placeholder="Name" #name="ngModel" required>
  </mat-form-field>
  <app-validations [field]="'Name'" [control]="name"></app-validations>

  <mat-form-field>
    <mat-select name="type" [(ngModel)]="data.type" placeholder="Type" #type="ngModel" required>
      <mat-option *ngFor="let item of types" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validations [field]="'Type'" [control]="type"></app-validations>

  <div>
    <button mat-button (click)="onSave(form)">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</form>
