.sort-hint {
  opacity: 0.0;
}

.sort-header-container:hover .sort-hint {
  opacity: 0.5;
}

.sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
}

.sort-header-container > *:not(:first-child) {
  margin: 0 7px;
}

.sort-header-button {
  border: none;
  background: 0 0;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: inherit;
  outline: 0;
  font: inherit;
  color: currentColor;

  // The `outline: 0` from above works on all browsers, however Firefox also
  // adds a special `focus-inner` which we have to disable explicitly. See:
  // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

:host(.colored) .sort-icon {
  color: #3f51b5;
}
