<div class="tableContainer" *ngIf="dataSource.data.length">
  <div class="table-top" >
    <mat-form-field >
      <input matInput [(ngModel)]="filter" placeholder="Filter" (ngModelChange)="applyFilter()">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" matSort >
      <ng-container *ngFor=" let col of columns; let i = index " matColumnDef="{{col.name}}">
        <ng-container *ngIf="!col.filter">
          <th mat-header-cell *matHeaderCellDef app-sort-header>{{label(col)}}</th>
        </ng-container>
        <ng-container *ngIf="col.filter">
          <th mat-header-cell *matHeaderCellDef [app-filter-header]="col.filter"> {{label(col)}} </th>
        </ng-container>

        <td mat-cell *matCellDef="let element"> <ng-container app-table-cell [column]="col" [item]="element"></ng-container></td>
      </ng-container>

      <ng-container  matColumnDef="_row_actions">
        <th mat-header-cell *matHeaderCellDef > </th>
        <td mat-cell *matCellDef="let element" style="text-align: right; width: 50px; padding-right: 10px;">
          <div class="table-options">
            <mat-icon *ngIf="editHandler" (click)="editHandler(element)" style="cursor: pointer">edit</mat-icon>
            <mat-icon *ngIf="deleteHandler" (click)="deleteHandler(element)" style="cursor: pointer">delete</mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

    </table>
    <div style="display: flex; background-color: white" class="floating-button">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons ></mat-paginator>
      <button mat-mini-fab color="primary" class="floating-button" *ngIf="addHandler" (click)="addHandler()"><h1 style="margin: 0">+</h1></button>
    </div>
  </div>
</div>

<div class="no-content" *ngIf="!dataSource.data.length && isUpdating == false" >
  <img src="../../../../assets/no-data.png" style="height: 400px"/>
  <button mat-button mat-raised-button color="primary" *ngIf="addHandler" (click)="addHandler()">Add Record</button>
</div>

<div *ngIf="isUpdating" >
  <mat-spinner style="margin: 150px auto;" mode="indeterminate"></mat-spinner>
</div>
