<div >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLinkActive="active" routerLink="home"><mat-icon style="margin: 0 10px 5px 0;">home</mat-icon>Home</button>
      <ng-container *showIfAuth="true" >
        <button mat-button routerLink="categories" >Categories</button>
        <button mat-button routerLink="operations" >Operations</button>
        <button mat-button routerLink="budgets" >Budgets</button>
      </ng-container>

      <span class="spacer"></span>

      <button *showIfAuth="false" mat-button routerLinkActive="active" routerLink="/user/login">
        Login
        <mat-icon>input</mat-icon>
      </button>

      <ng-container *showIfAuth="true" >
        <button mat-button [matMenuTriggerFor]="userMenu">
          {{auth.userName| async}}
          <mat-icon>reorder</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <button  mat-menu-item  externalUrl="_blank:/swagger-ui.html">
            <mat-icon>send</mat-icon>
            Swagger
          </button>

          <button  mat-menu-item  externalUrl="_blank:/actuator/health">
            <mat-icon>healing</mat-icon>
            Health
          </button>

          <button  mat-menu-item (click)="logout()" >
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
