<div fxLayout fxLayoutAlign="center center" class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" name="loginForm">

        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="user.username" type="text" name="username" required minlength="5" #username="ngModel">
        </mat-form-field>
        <app-validations [field]="'Username'" [control]="username"></app-validations>

        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required minlength="5" #password="ngModel">
        </mat-form-field>
        <app-validations [field]="'Password'" [control]="password"></app-validations>

      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
