<div >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLinkActive="active" routerLink="/home">Home</button>
      <span class="spacer"></span>
      <button *ngIf="!authenticated()" mat-button routerLinkActive="active" routerLink="/user/login">Login</button>
      <button *ngIf="authenticated()" mat-button (click)="logout()" >Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
